version: '3.8'

services:
  app:
    labels:
      - traefik.enable=true
      - traefik.http.routers.firefly.rule=Host(`fin.example.com`)
      - traefik.http.routers.firefly.entrypoints=websecure
      - traefik.http.routers.firefly.tls.certresolver=le
      - traefik.http.services.firefly.loadbalancer.server.port=8080

  db:
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  cron:
    healthcheck:
      test: ["CMD-SHELL", "pgrep crond >/dev/null"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 20s

networks:
  fin_net:
    external: true
